<div class="update-password-wrapper">
  <h2>تعيين كلمة مرور جديدة</h2>

  <form (ngSubmit)="updatePassword()">
    <label>كلمة المرور الجديدة</label>
    <input
      type="password"
      [(ngModel)]="newPassword"
      name="password"
      required
      placeholder="********"
    />

    <button type="submit" [disabled]="loading">تحديث كلمة المرور</button>
  </form>

  <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
  <p class="success" *ngIf="successMessage">{{ successMessage }}</p>
</div>
