<!-- Waves Background -->
<div class="ocean">
  <div class="wave"></div>
  <div class="wave"></div>
</div>

<div class="login-wrapper">
  <div class="overlay" *ngIf="loading">
    <div class="spinner"></div>
  </div>
  <div class="login-box">
    <div class="logo">
      <h1 style="font-size: 15px">اكتشف عسير</h1>
      <p>الوجهة السياحية المثالية</p>
    </div>

    <hr />
    <div style="text-align: center; color: red">{{ errorMessage }}</div>
    <h2>تسجيل الدخول</h2>
    <form (ngSubmit)="login()">
      <!-- Email -->
      <label>البريد الإلكتروني</label>
      <div class="input-group">
        <input
          style="direction: ltr"
          type="email"
          [(ngModel)]="email"
          name="email"
          placeholder="example@example.com"
          required
        />
      </div>

      <!-- Password -->
      <label>كلمة المرور</label>
      <input
        style="direction: ltr"
        type="password"
        [(ngModel)]="password"
        name="password"
        placeholder="********"
        required
      />

      <!-- Error message -->

      <!-- Login button -->
      <button type="submit" [disabled]="loading">تسجيل الدخول</button>
      <a href="javascript:void(0)" (click)="forgotPassword()"
        >نسيت كلمة المرور</a
      >

      <!-- <button class="btn btn-outline" (click)="goToSignUp()">اشتراك</button> -->

      <button class="btn btn-outline" (click)="goToMain()">دخول كزائر</button>
    </form>
  </div>
</div>
