<!-- app.component.html -->

<div class="overlay" *ngIf="loading">
  <div class="spinner"></div>
</div>

<div class="asir-tourism-platform">
  <!-- Header Section -->
  <header class="header">
    <div class="container">
      <nav class="navbar">
        <div class="logo">
          <h1 style="font-size: 15px">اكتشف عسير</h1>
          <p>الوجهة السياحية المثالية</p>
        </div>

        <!-- Navigation Links -->
        <!-- <ul class="nav-links" >
          <li><a href="#tours">الرحلات</a></li>
          <li><a href="#events">الفعاليات</a></li>
          <li><a href="#attractions">المعالم</a></li>
          <li><a href="#guides">المرشدين</a></li>
          <li><a href="#tips">نصائح السفر</a></li>
        </ul> -->

        <!-- Auth Buttons -->

        <div class="auth-buttons" *ngIf="!user">
          <button
            class="btn btn-outline"
            style="margin: 5px"
            (click)="goToLogin()"
          >
            تسجيل الدخول
          </button>
          <button
            (click)="goToSignUp()"
            class="btn btn-primary"
            style="margin: 5px"
          >
            إنشاء حساب
          </button>
        </div>
        <div *ngIf="user">
          <!-- User icon with name -->
          <div
            class="logout-button"
            (click)="logout()"
            style="cursor: pointer; display: flex; align-items: center"
          >
            <span
              style="
                color: rgb(255, 15, 15);
                font-weight: 500;
                margin: 10px;
                font-family: Tajawal, sans-serif;
              "
              >تسجيل الخروج</span
            >
            <i
              class="fas fa-sign-out-alt"
              style="font-size: 20px; color: rgb(254, 9, 9); margin-right: 5px"
            ></i>
          </div>
          <hr />
          <div class="user-info">
            <span style="margin-left: 10px; font-weight: bold"
              >{{ user || "مستخدم" }}!</span
            >
            <i
              class="fas fa-user-circle"
              style="font-size: 20px; color: rgb(63, 80, 80)"
            ></i>
            <!-- User icon -->
          </div>
        </div>
      </nav>
    </div>
    <hr />
  </header>
   <router-outlet></router-outlet>
</div>
