<div class="ocean">
  <div class="wave"></div>
  <div class="wave"></div>
</div>

<div class="login-wrapper">
  <div class="overlay" *ngIf="loading">
    <div class="spinner"></div>
  </div>
  <div class="login-box">
    <div class="logo">
      <h1 style="font-size: 15px">اكتشف عسير</h1>
      <p>الوجهة السياحية المثالية</p>
    </div>

    <hr />
    <h2>اشتراك جديد</h2>
    <form (ngSubmit)="signup()">
      <!-- Email -->
      <label>البريد الإلكتروني</label>
      <div class="input-group">
        <input
          type="email"
          [(ngModel)]="email"
          name="email"
          placeholder="example@example.com"
          required
        />
      </div>

      <!-- Password -->
      <label>كلمة المرور</label>
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        placeholder="********"
        required
      />

      <label>تأكيد كلمة المرور</label>
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        placeholder="********"
        required
      />

      <!-- Error message -->

      <!-- Login button -->
      <button type="submit" [disabled]="loading">اشتراك</button>
    </form>
  </div>
</div>
